body{
    background:#111;
    color:white;
    text-align:center;
    font-family:Arial;
}

a{
    background:gold;
    color:black;
    padding:10px 20px;
    border-radius:10px;
    text-decoration:none;
}
body{
<img src="/images/upload-Slides-20220603114551.jpg" class="d-block w-100 banner" alt="" style="height: 100%">
